h1{
    font-weight: bolder;
    font-style: italic;
}

#figcap{
    color: blue;
}

h2{
    background-color: blueviolet;
}

.para{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}